h2.intro {
  font-family: helvetica;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

p.intro{
  text-align: center;

}

img.intro {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: grey;
}
